*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container{
    max-width: 800px;
    margin: auto;
    line-height: 20px;
}

.paragraph1{
    font-weight: bolder;
    font-size: 21px;
    margin-bottom: 20px;
}

.paragraph{
    font-size: 14px;
    margin-bottom: 20px;
}

.btn, .fas fa-arrow-circle-down{
    background-color: purple;
    color: white;
    padding: 10px 15px;
    
}